@media only screen and (max-width: 600px){
    /* .Main {
        overflow-x: hidden !important;
    } */
    .cartTable{
        flex-direction: column;
    }
    .cartTableData,.cartTableTotal{
        width: 100%;
    }
    .Header{
        /* position: sticky; */
        /* top:0px; */
        /* z-index: 99999; */
        /* background-color: rgb(255, 255, 255); */
    }
    .MainView_LchildGalleryDetails div{
        padding:5px;
    }
    .UniversalThumbnail > img{
        width:100%;
    }
   .react-stacked-center-carousel {
        height: 20vh !important;
    }
    .game-icons--shopping-cart{
        height: 80vw!important;
    }
    .carouselImage {
        /* transform: scale(0.4)!important; */
    }

    .LabelBack{
        width:100%;
    }
    .ManagementMainMenu {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .ClientOrderTable{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .hiddenInmobile{
        display:none;
    }
    .Dashboard_grid {
        display: flex;
        flex-direction: column;
    }
    .OrderList{
        padding:0px;
    }
    .InventoryHead {
        display: none;
    }

    .DashboardDetail {
        height: auto;
        font-size: 30px;
    }

    .DashboardDetail h1,
    .DashboardDetail h3 {
        font-size: 30px;
    }

    .StatisticsStat {
        display: grid;
        grid-template-columns: 89%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-gap: 5px;
        position: relative;
    }

    .StatisticsStat_today_visits,
    .StatisticsStat_total_visits,
    .StatisticsStat_today_views,
    .StatNumber,
    .StatisticsStat_total_views {
        font-size: 25px;
    }

    .InventoryBody {
        display: flex;
        flex-direction: column;
    }

    .InventoryBody .InventoryBodyCell {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
        align-items: left;
        justify-content: left;
    }

    .PaginationContainer {
        display: flex;
        flex-direction: column;
    }

    .Menu_label_management {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        /* font-size: 30px; */
    }

    .Search_container {
        background-color: #5b3b5c;
        padding: 0px;
        overflow: auto;
        height: auto;
        padding: 10px;
    }

    .Search_container input {
        width: 100%;
        box-sizing: border-box;
    }

    .SearchColumn {
        grid-row: 1;
    }

    .Search_container_grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        /* flex-direction: column; */
        align-items: left;
        padding: 0px;
        width: 100%;
        background: transparent;
        grid-gap: 0px;
    }

    .SortColumn select {
        width: 100%;
    }

    .ManagementBody {
        grid-gap: 0vw;
    }

    .managementNavigationmenu li a {
        justify-content: center;
        font-size: 30px;
    }

    .ProfileDetails {
        grid-template-columns: 35% 65%;
        padding:0px;
    }

    .hideInmobile {
        display: none;
    }

    body {
        overflow-x: hidden;
        font-size: 13px;
    }
    .transformRotate{
        transform: rotate(90deg);
    }
    .VideoCallContainerVideos{
        display: flex;
        flex-direction: column;
      }
    .Thumbnails {
        grid-gap: 0.5vw !important;
        /*grid-template-columns: 49% 49% !important;*/
        grid-template-columns: 33% 33% 33% !important;
        width: 100%;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .thumbnailImage {
     height: 100px;
    }
    .thumbnail {
      min-height:200px;
      border:solid  3px rgb(255 246 229)
    }
    .UniversalLabels .thumbElements_Title{
        font-weight: bold;
        font-size: 12px;
    } 
    .thumbElements{
        font-size: 10px;
    }
    .thumbnailImageContainer{
        height: 100px;
    }
    .feedbackattachment{
        width: 100%;
        height: auto;
      }
    .viewmore {
        grid-column: 1 / span 2 !important;
    }
    .footer {
        grid-template-columns: 100vw;
        grid-template-rows: auto auto 30vw;
    }
    .footer div{
        margin:0px;
    }

    .Mobile_footer {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column: 1 / span 2;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 30px;
        left: 0px;
        right: 0px;
        background-color: #00a380;
    }
    .Notification{
        right:0px!important;
        top:93vh!important;
        font-size: 16px;
    }
    .NewsContainer{
        grid-template-columns:100%;
    }
    .LikeContainer{
        grid-template-columns: 100%!important;
    }
    .card{
        height: 200px;
        display:flex;
        align-items:center;
        background-color:#c0c0c0;
    }
    /*
.react-image-carousel img {
    object-fit: cover!important; /* Maintain aspect ratio and fill the area */
    width: 100%!important;
    height: 300px!important; /* Or whatever fixed height you want */
    border-radius: 8px; /* Optional: makes images look cleaner */
  }
.react-image-carousel .ric-thumbnails {
  height: 40px!important; /* Set your desired thumbnail row height */
  overflow: hidden;
}

.react-image-carousel .ric-thumbnail {
  height: 100%; /* Make each thumbnail fill the row */
  aspect-ratio: 1 / 1; /* Optional: makes them square */
}

.react-image-carousel .ric-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px; /* Optional: smooth corners */
}
*/
}
