@media only screen and (max-width : 1080px) {
    body {
        overflow: hidden;
    }

    .HeaderLeft{
        background-color:rgba(189, 152, 149);
    }
    .UniversalContainerItem{
        grid-template-columns: 50% 50%;
      }
      .searchContainerDIV{
        flex-direction: column;
      }
    .feedbackattachment{
        width: 100%;
        height: auto;
      }
    .FootCenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color:rgb(249 220 206);
    }
    .FootCenter div{
        margin:10px;
    }
    .Navigation a,.Navigation nav,.HeaderNav{
        font-size: 20px;
    }
    .thumbnailTextContainer{
        font-size: 13px;
    }
    .OrderStages {
        grid-template-columns: 13% 3% 13% 3% 13% 3% 13% 3% 13% 3% 13%;
    }
    .TransactionImage{
        padding:5px;
    }
    .LoginDiv,.SignupDiv{
        width:90vw;
    }
    /* .Logo{
        height: 100%;
        width: 100%;
    } */
    .ThreeJS {
        position: relative;
        height: 100vw;
        width: 100vw;
        overflow: hidden;
    }
    .LoginDiv .emailAddressinput,
    .LoginDiv .usernameinput,
    .LoginDiv .passwordinput{
        width:100%;
    }
    .SignupDiv .emailAddressinput, 
    .SignupDiv .contactinput,
    .SignupDiv .usernameinput,
    .SignupDiv .passwordinput{
        width:100%;
    }
    .image-gallery-image {
        width: 100% !important;
    }


    .image-gallery {
        /* height: 70vw; */
        width: 100vw;
    }

    .Main {
        overflow-x: hidden;
        grid-template-rows: 100px auto 30vh;
    }

    .Header {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-bottom: solid 3px rgb(87, 39, 0);
    }
    .searchEngine {
        padding:5px!important;
    }
    .Header div{
        flex:1;
    }
    .FootRoutes{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        font-size:30px;
        justify-content: center;
        align-items: center;
        transition: ease 0.5s;
        position:fixed;
        height:45px;
        bottom:0px!important;
        width: 100vw;
        text-align: center;
        box-shadow: 0.5px 0.5px 3px #000;
        background-color:rgb(249 220 206);
        transform: scale(1);
        z-index:99!important;
    }
    .FootFooter{
        background-color:rgb(249 220 206);
        font-size:15px;
    }
    .FootRoutes a{  
        display: flex;
        justify-content: center; 
        text-align: center;
        left:0px;
        right:0px;
        margin:auto;
        padding:5px;
        color:  rgb(87, 39, 0);
        font-size: 24px;
    }
    .dropdown {
        display: flex;
    }


    .hideInmobile {
        display: none;
    }

    .body {
        grid-template-columns: 100vw 100vw 0vw;
        width: 100vw;
        /* grid-template-rows: 6vh auto auto auto; */
    }

    .body_messages {
        grid-template-columns: 100vw 100vw 0vw;
        width: 100vw;
        grid-template-rows: auto 0px auto auto;
    }

    /* .openDrawer {
        font-size: 40px;
        margin: 5px;
        width: 10vw;
    } */

    .closeDrawer {
        font-size: 40px;
        margin: 12px;
        width: 10vw;
        right: -20vw;
        position: absolute;
        z-index: 999999999999999999999;
        color: red;
        padding: 2px;
        transition: 0.5s;
    }



    .category_list {
        width: auto;
        position: relative;
    }



    .LeftWing {
        left: -100vw;
        position: absolute;
        transition: ease 0.5s;
        z-index: 99999;
        width:100vw;
        background-color: rgb(255 246 229);
        /* box-shadow: 0.5px 0.5px 3px rgb(87, 39, 0); */
    }

    .LeftWing_ {
        left: 0!important;
        position: absolute;
        transition: ease 0.5s;
        z-index: 99999;
        width:100vw;
        background-color: rgb(255 246 229);
        box-shadow: 0.5px 0.5px 3px rgb(87, 39, 0);
      }


    .RightWing {
        width: 0vw;
    }

    .middlecontainer {
        width: 100vw !important;
    }

    .middlecontainer_messages {
        width: 100vw !important;
    }

    .MainView {
        display: flex;
        flex-direction: column;
    }

    .MainView_Lchild {
        display: flex;
        flex-direction: column;
    }

    .MainView_LchildGallery {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
   .MainView_LchildGalleryDetails div {
    padding: 3px!important;
    backgroundColor:'green'!important;
   }
    /* .Thumbnails{
    grid-gap:0.7vw;
    grid-template-columns: 49.5vw 49.5vw;
    } */
    .thumbnail{
        height: 150px;
    }
    .Thumbnails {
        grid-gap: 0.35vw;
        grid-template-columns: 24.35vw 24.35vw 24.35vw 24.35vw;
    }

    .viewmore {
        grid-column: 1 / span 4;
    }

    .carousel {
        padding: 1px;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
    }

    .CartCols {
         grid-template-columns: 50% 50%;
    }

    .CartImage {
        overflow: hidden;
        object-fit: cover;
    }

    .CartImageImage {
        width: 100%;
        height: auto !important;
    }

    .CartDetails span {
        padding: 5px;
    }

    .ShareQuantity {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        justify-content: center;
        align-items: center;
    }

    .ShareQuantity button,
    .ShareQuantity input {
        width: 100%;
    }

    .carouselLabel {
        grid-template-columns: 8% 92%;
    }

    .LabelBack {
        grid-template-columns: auto auto;
    }
    /* .searchContaier{
        margin:0px;
    }
    .searchContaier div {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .searchContaier div input,
    .searchContaier div select {
        width: 100%;
        margin: 5px;
        padding: 10px;
    } */
    .game-icons--shopping-cart{
        height: 60vw;
    }
    .react-stacked-center-carousel {
        height: 20vh !important;
    }

    .carouselImage {
        /* transform: scale(0.5); */
    }
    .my-slide-component{
        transform: scale(0.5);
    }
    .CartColsHead {
        display: none;
    }

    .CartDetailsCenter {
        grid-column: 1 / span 2;
    }

    .Account:hover .DroppedDown {
        transform: scaleX(1);
    }
    .NewsContainerItem{
        grid-template-columns: 50% 50%;
    }
    .DroppedDown {
        width: 100vw;
        top: 100px;
        left: 0px !important;
        right: 0px !important;
        margin: auto;
    }

    .DroppedDown ul {
        list-style-type: none;
        padding-left: 0px;
        text-align: left;
        width: 100%;
        margin: 0px;
        transition: ease 0.5s;
    }

    /* .DroppedDown ul li{
        padding:5px;
        display: grid;
        grid-template-columns:10% 90%;
        transition: ease 0.5s;
        text-align: left;
        justify-content: left;
        align-items: center;
      }
      
      .DroppedDown ul li:hover{
        transition: ease 0.5s;
        background: linear-gradient(to bottom, rgb(206, 219, 233) 0%, rgb(57, 191, 144) 0%, rgb(97, 198, 154) 30%, rgb(67, 216, 151) 44%, rgb(76, 239, 158) 61%, rgb(58, 196, 148) 84%, rgb(39, 140, 74) 100%);
      } */
    .CartDetailsCenter {
        padding: 10px;
    }

    .canvas {
        width: 100% !important;
        height: 300px !important;
        position: relative;
    }
   #textarea{
       height:40px;
   }
    .searchEngine{
        padding:5px;
    }
    #canvas {
        width: 100vw !important;
        height: auto !important;
    }
    /* .searchContaier button {
        height: 78%;
    } */
    .MainView_RelatedProducts{
        /* margin-bottom: 72px; */
    }
    .MainView_RelatedProducts div button{
        width:100%;
        padding:10px;
    }
    
    .LikeContainer{
        grid-template-columns: 50% 50%;
        box-sizing:border-box;
    }
}
